body {
    background: #F1F1F1;
  }
  body h1 {
    font-family: 'Lobster', cursive;
    margin: 50px 20px 40px;
    font-size: 50px;
    letter-spacing: 0.5px;
    color: #999999;
    text-align: center;
  }
  
  .rating {
    width: 508px;
    height: 40px;
    margin: 0 auto;
    padding: 40px 50px;
    border: 1px solid #CCCCCC;
    /* background: #F9F9F9; */
  }
  /* .rating label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
  } */
  /* .rating label:not(:first-of-type) {
    padding-right: 2px;
  } */
  /* .rating label:before {
    content: "\2605";
    font-size: 42px;
    color: #CCCCCC;
    line-height: 1;
  } */
  /* .rating input {
    display: none;
  } */
  /* .rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
    color: #F9DF4A;
  } */
  
  .xyz {
    width: 508px;
    height: 40px;
    margin: 0 auto;
    padding: 40px 50px;
    border: 1px solid #CCCCCC;
    background: #F9F9F9;
  }
  .xyz label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .xyz label:not(:first-of-type) {
    padding-right: 2px;
  }
  .xyz label:before {
    content: "\2605";
    font-size: 42px;
    color: #CCCCCC;
    line-height: 1;
  }
  .xyz input {
    display: none;
  }
  /* .xyz input:checked ~ label:before, .xyz:not(:checked) > label:hover:before, .xyz:not(:checked) > label:hover ~ label:before {
    color: #F9DF4A;
  } */