<h1>Company Vs Survey</h1>
<div>
    <div style="display: block;width: 1556px;
    height: 431px;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <!-- <button (click)="randomize()">Update</button> -->
  </div>