.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 26px;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 0px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  /* .form button:hover,.form button:active,.form button:focus {
  
  } */
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  /* .form .register-form {
    display: none;
  } */
  .login-body .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .login-body .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .login-body .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .login-body .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  /* @font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
  } */
  /* body {
   
    
  } */
  .input-group{margin-bottom:15px;}
  .login-body .styles1 {
    border: 0;
    border-bottom: 1px solid #dbdbdb;
    background: none;
    padding: 10px 0px;
    font-size: 13px;
    max-width: 450px;
    width: 89%;
    color: #5d5d5d !important;
    float: left;
  }
  .help-block{text-align:left;}
  .login-body .input-group{display:block;}
  .login-body h2{text-align:center;color:#111;font-size:30px;    padding: 0;
      line-height: 30px;}
  
  .login-body .input-group-addon{border-radius:0 !important;}
  .login-body{background-color:#242833;}
  .login-body .input-group-addon{    background-color: inherit !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0;
    padding-left: 0 !important;
    float: left;
    margin-top: 5px;
    padding-bottom: 13px;
    padding-right: 20px;}
  .btn{    border-radius: 16px !important;    padding: 6px 22px !important;}
  .omb_btn-facebook {background: #3b5998;width:100%;float:left;}
  
  .omb_btn-google {background: #c32f10;width:100%;float:left;}
  .omb_socialButtons>a{color:#fff !important;}
  .omb_socialButtons .col-sm-12{margin-bottom:10px;}
  .hidden-xs{font-size:14px;}
  .omb_socialButtons {
      margin-top: 30px;
      margin-bottom: 16px;
  }
  .login-body .fa{color:#d9534f;}
  svg path,
  svg rect{
    fill: #EC0C0C;
  }