@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
.prev-img {
     /* background-color: #dd3;  */
    border-radius: 5px;
    margin-left:5px;
     /* width: 500px;  */
}

/* .prev-img .img-ul-image {
     width: 1000px; 
} */

.prev-img .img-ul-upload {
    background-color: #000 !important;
}

.prev-img .img-ul-clear {
    background-color:white !important;
    color:black !important;
}

.prev-img .img-ul-drag-box-msg {
    color:black !important;
}

/* .prev-img .img-ul-container {
    background-color: none !important; 
} */
.img-ul-image{
  width: 150px !important;
  height : 150px !important;}

.page-head{
    text-align: center;
    font-size: 27px;
    color: #ABAAAA;
    text-transform: uppercase;
    font-weight: 700;
}
.mrgn-nav-top{
    margin-top: 180px;
}
.auction-section{
    margin-top: 178px;
}
.no-item{
    min-height: 400px

}
.no-item h4{
    text-align: center;
    font-size: 25px;
    color: rgb(99, 99, 99);
    padding-top: 180px;

}

@media only screen and (max-width: 1194px) {
    #c-auction{
        margin-top: 100px
    }
    #f-auction{
        margin-top: 100px
    }
    #m-auction{
        margin-top: 100px
    }
    #u-auction{
        margin-top: 100px
    }
}



/******asif*******/
body{background-color:#f0f0ef !important;margin-top:0 !important; }
#page-wrapper{background-color: none !important;}
.navbar-inverse{background-color:#fff; }
.nav-sidebar{background-color:#fff;}
.tabs>li{border-bottom:1px solid #ccc !important;}
.nav>li>a{color:#474747;}
.side-nav>li>a{color:#fff;}
.side-nav .active{background-color: #ea5a5a !important;color:#fff !important;}
.navbar-nav>li{    background-color: #1a1e29;margin-top: 1px;}
.navbar-nav>li>a:hover{background-color: #ea5a5a !important;color:#fff !important;}
.navbar{border-radius:0 !important; }

.navbar-inverse{    background-color: #fff !important;
    border:none !important;}
    .profilz>li{background-color: #f3f3f3 !important;}
.profilz .dropdown-menu .divider{ margin: 0px 0;padding: 0px; right:0px;}
.profilz .dropdown-menu li a{padding:14px 10px; }
.tabs>li>a:focus, .tabs>li>a:hover {
    text-decoration: none;
    background-color: #fff !important;
    color:#ea5a5a;
}
.tabs .active1
{background-color: #fff !important;
    color:#ea5a5a !important;}
.profilz .glyphicon-user {
        color: #102663 !important;
        padding-left: 11px;
    }
    .profilz>li>a{color: #102663 !important;}
    .navbar-inverse .navbar-nav>.open>a{background-color:#ea5a5a !important;color:#fff !important;}
.side-nav .dropdown-menu{background-color:#0b060c;    min-width:auto !important;width:100% !important;position:relative !important; }




.mat-radio-label-content {
    font-weight: 400 !important;
}
.nme{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.mat-checkbox-layout{
    margin-bottom: 24px !important;
}
.theme-hd{
    text-align: center;
    margin: 40px auto;
    border-bottom: 2px solid #ea5a5a;
    padding-bottom: 5px;
}
.theme-pre-hd{
    margin: 50px auto;
}
.shdw{
    box-shadow: 0px 4px 5px 2px #ccc;
}

agm-map {
    height: 531px;
    width: 100%;
  }

  .timer{
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    color: #ff005c;
    font-weight: 700;
}

.timer2{
    text-align: right;
    font-family: sans-serif;
    font-size: 18px;
    color: #d9534f;
    font-weight: 700;
}


.mat-radio-outer-circle {
    height: 16px !important;
    width: 16px !important;
    margin: 2px 0 0 0;
  }
  .mat-radio-inner-circle{
      
    height: 16px !important;
    width: 16px !important;
    margin: 2px 0 0 0;
    
  }
  .timer-survey{
    font-size: 22px;
    color: #ff005c
  }
/* barchart */
.bar {
    fill: #0189A9;
  }
  
  .bar:hover {
    fill: #02738e;
    cursor: pointer;
  }
  
  .axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }
/* @font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  } 
  @font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  }  */
  .cdk-overlay-container {
    z-index: 1052 !important;
}
.col-md-offset-3 .mat-form-field{width: 100%;}
.txt-right{
    text-align: right
}
.logo-img{
    margin: 10px;
}
.tb-hd{
    text-align: center;
}
.mat-step-header .mat-step-icon {
    background-color: #d9534f;
    color: rgba(255,255,255,.87);
}

#opnr li a:hover{
    outline: none;
    background-color: #c0233f !important;
}
.graph-containers{
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 6px 19px 0px #ccc;
    margin-bottom: 25px;
}
.graph-containers h1{
    font-size: 25px;
    color: #4F657D;
}


.piehvr:hover{
    fill: #4F657D;
}

.barhvr{
    fill: #039e82
}
.barhvr:hover{
    fill: #0e826d
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  color: red;
}

.basic-container {
   
  padding: 5px;
}

.version-info {
    
  font-size: 8pt;
  float: right;
}
.updatespinner{
    margin-top: 50%;
}
.deletespinner{
    background-color: white;
    /* padding: 0px 100px 0px 280px; */
    margin-left: 40%;
}
/* .mat-simple-snackbar { */
    /* display: initial;
    justify-content: space-between;
    line-height: 60px !important;
    opacity: 1;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    background-color: #d9534f;
    border-radius: 15px */
/* } */

/* .mat-snack-bar-container {
    /* background: #da524f;
    color: #fff;
    border-radius: 15px */
/* } */ 
.cdk-global-overlay-wrapper {
    align-items: flex-start !important;
    justify-content: flex-center !important
  }
  /* .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #db514f;
} */
/* svg path,
svg rect{
  fill: #EC0C0C;
} */
.preloader2{
    text-align: center;
    background-color: #00000045;
    border-bottom: 1px solid lightgray;
    height: 100%;
    padding-top: 13%;
    position: absolute !important;
    z-index: 1000;}
    .buttonleft>li{
        border:none !important;
        text-align: center;
        padding: 4px;
    } 
    
    .ourbutton2{  border-radius: 20px;
            padding: 7px 40px;}
    .buttonleft{padding:2em 0;min-height:300px;}
    
    
.hm-navbar-nav > li{
    background-color: #fe3c47 !important;
    margin-top: 18px;
}
.hm-navbar{
    background-color: #FE3C47 !important; 
    border: none !important;
    border-bottom: 1px solid #ef9ea3 !important;
    margin-bottom: 0px !important;
    min-height: 69px !important;
}
.hm-navbar .navbar-brand {
    padding: 0 !important;

}
.navbar-brand img{
    width: 80%;
}
.hm-navbar-nav > li  a{
    color: #fff !important;
    padding-top: 30px;
    padding-bottom: 28px;
}
.btn-login{
    margin-top: 29px !important;
    
    text-align: center;
}
.btn-login a{
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    line-height: 14px !important;
    border-radius: 50px !important;
    border: 1px solid #fff;
    
    min-width: 90px;
}

#home img{
    width: 100%;
}
.serv-bg{
    background-color: #ffffff;
}
.serv-cont{
    padding:40px 0; 
}
.serv-cont h4{
    margin-top: 123px;
    font-size: 50px;
    color: #717171;
}

.serv-cont p{
margin-top: 30px;
color: #6f6f6f;
line-height: 1.6;
font-size: 16px;
}
.hm-body{
    background-color: #fbfbfb !important;
}

.serv-img{
    width: 96%;
    margin-top: 207px;
}


.plan-bg{
    background-color: #FE3C47;
}

.plan-hd{
    margin-top: 279px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}
/* .plan-sub{
} */

.lim-hd{
    margin-top: 20px;
    list-style: none;
}
.lim-hd li{
    padding: 15px;
    color: #ffffff;
    padding-left: 0;
}
.lim-hd i{
    color: #e7ff00;
}
.lim-hd li h5{
    margin: 0;
}
.abt-bg{
    background-color: #ffffff;
}
#about img{
    margin-top: 145px;
}
#about h4{
    color: #717171;
    font-size: 50px;
    margin-top: 227px;
}

#about p{
    font-size: 16px;
line-height: 1.6;
color: #6f6f6f;
text-align: justify;

}
#hm-footer{
    color: #fff;
background: #3b3b3b;
}
#hm-footer h4{
    margin: 38px auto;
    font-size: 15px;
}
.hm-land{
    position: relative
}
.hm-land h4{
    position: absolute;
    top: 257px;
    font-size: 70px;
    color: #fff;
    max-width: 464px;
    left: 238px;
}






/*___________________PRICING______________________________*/

.cf:before, .pricing-table:before,
.cf:after,
.pricing-table:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.cf:after, .pricing-table:after {
  clear: both;
}

.cf, .pricing-table {
  zoom: 1;
}

body {
  font: 16px/28px "Roboto";

  background-color: #90a4ae;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.wrap {
  width: 900px;
  margin: 215px auto;
  color: #607d8b;
  /* box-shadow: 1px 1px 10px #424242; */
}

.pricing-table .plan {
  box-sizing: border-box;
  width: 300px;
  background-color: #fff;
  float: left;
  text-align: center;
  position: relative;
  z-index: 10;
  border-radius: 5px;
}
.pricing-table .plan h3.name {
  font-size: 20px;
  /* background-color: #546e7a; */
  padding: 15px;
  color: #424242;
}
.pricing-table .plan h4.price {
  font-size: 49px;
  color: #424242;
  /* padding: 30px; */
  /* background-color: #01A4F5; */
  line-height: 40px;
  font-weight: 700
}

.pricing-table .plan h4.price span {
  font-size: 16px;
  font-style: italic;
}
.pricing-table .plan ul.details {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
}
.pricing-table .plan ul.details li {
  border-bottom: 1px solid #B3B9C4;
  padding: 15px;
}
.pricing-table .plan h5.order {
  padding: 30px;
  font-size: 17px;
}
.pricing-table .plan h5.order a {
  text-decoration: none;
  color: #fff;
  background-color: #F22D47;
  padding: 10px 20px;
  border-radius: 3px;
}
/* .pricing-table .plan:first-child h4.price {
  /* background-color: #0EC0A5; */
/* } */
/* .pricing-table .plan:first-child h5.order a { */
  /* background-color: #0EC0A5; */
/* } */
/* .pricing-table .plan:last-child h4.price { */
  /* background-color: #F22D47; */
/* } */ 
/* .pricing-table .plan:last-child h5.order a { */
  /* background-color: #F22D47; */
/* } */
.pricing-table .plan:nth-child(2n) {
  box-shadow: 0px 0px 10px #424242;
  z-index: 100;
  top: -14px
}
.pricing-table .plan:nth-child(2n) .order{
    padding: 45px;

}
.pricing-table .mnth{
    color: #424242;
    margin-top: 0;
    font-size: 18px;
}
/* .pricing-table{
    -webkit-box-shadow: none; 
    box-shadow: none;
} */

.plan .details .fa-times{
    color: #F22D47;
    font-size: 18px
}

.plan .details .fa-check{
    color: #00a257;
    font-size: 18px
    
}
/*___________________________________________________________________________*/
    .svgclass path,.svgclass rect{
        fill: #EC0C0C;
    }

    .back-color{
        margin-left: 17% !important
    }
    .pricing-table .plan h5.order button {
        text-decoration: none;
        color: #fff;
        background-color: #F22D47;
        padding: 10px 20px;
        border-radius: 3px;
      }
    .addnewbtn{
        border-radius: 22px !important;
        width :80%;
        color :white !important;
    }
