
<div class="user-layout" *ngIf="disp">
  <nav class="navbar navbar-toggleable-md fixed-top x-new" [ngStyle]="{'background-color':theme.h_bg_color }">
    <div class="container">
      <div class="col-md-8 col-md-offset-2" *ngIf="survey.logo != '' else newhd">
        <div class="col-md-4 txt-right">
          <img  class="logo-img" src="{{serviceUrl+'logo/'+survey.logo}}" height="100" alt="logo">                   
        </div>
        <div class="col-md-8 ">
            <h1 class="srvey-hd" [ngStyle]="{'font-size':theme.h_font_size, 'font-family':theme.h_font_family, 'color':theme.h_font_color}" [ngClass]="{ 'itlc' : theme.h_font_italic, 'bld': theme.h_font_bold}">{{survey.header_title}}</h1>
            
        </div>
      </div>
      <ng-template #newhd>
        <div class="col-md-12">
          <h1 class="srvey-hd" style="text-align:center" [ngStyle]="{'font-size':theme.h_font_size, 'font-family':theme.h_font_family, 'color':theme.h_font_color}" [ngClass]="{ 'itlc' : theme.h_font_italic, 'bld': theme.h_font_bold}">{{survey.header_title}}</h1>
          
        </div>
      </ng-template>
    </div>
  </nav>
  <div [ngStyle]="{'background-color':theme.b_bg_color}" style="padding-top:20px;">
  <div class="container">
      <div class="col-md-12 questn-container">
          <button type="submit" (click)="logout()" class="btn btn-danger pull-right lg-out" >Logout</button>
          <div class="col-md-12">
              <app-count-down-timer  class="pull-right" [inputDate]="survey.end_datetime" [addClass]="'timer-survey'" (onTimeOver)="timeOver()"></app-count-down-timer>             
              
          </div>
          <div class="col-md-12">
            <h4 *ngIf="blankAns" [ngStyle]="{'color':'#d9534f'}">Fill all answers</h4>
              <form action="">
                  <div class="col-md-12" *ngFor="let item of survey.questions; let i=index;" [ngStyle]="{'background-color':theme.q_bg_color}">
                    <div *ngIf="cardNo == i">
                        <p [ngStyle]="{'font-size': theme.q_font_size, 'font-family':theme.q_font_family, 'color':theme.q_font_color}" [ngClass]="{ 'itlc' : theme.q_font_italic, 'bld': theme.q_font_bold}">{{i+1}}. {{item.question}}</p>
                        <div *ngIf="item.ans_type == 'Multiple choice'; else star">
                            <mat-radio-group class="example-radio-group" [(ngModel)]="survey.questions[i].ans" name="{{item._id}}">
                                <mat-radio-button class="example-radio-button" *ngFor="let choice of item.options" [value]="choice" [required]="survey.display_type.skip == false" >
                                  <span [ngStyle]="{'font-size': theme.q_font_size, 'font-family':theme.q_font_family, 'color':theme.q_font_color}" [ngClass]="{ 'itlc' : theme.q_font_italic, 'bld': theme.q_font_bold}">{{choice}}</span>
                                </mat-radio-button>
                              </mat-radio-group>
                        </div>
                       
                      
                      
                    </div>
                     
                    

                      <ng-template #star >
                          <div *ngIf="cardNo == i">
                          <div class="star-container star-rating" *ngIf="item.ans_type === 'star rating'; else text">
                              <!-- <fieldset>
                                <input type="radio" id="{{'star'+x+1}}" *ngFor="let choice of item.options; let x=index;" name="rating" value="{{x+1}}" /><label *ngFor="let choice of item.options; let i=index;" for="{{'star'+i+1}}" title="{{choice}}">5 stars</label> -->
                                <div class="rating">
                                  <!-- <ng-container *ngFor="let choice of item.options ; let x=index;"> -->
                                    <!-- <input [(ngModel)]="survey.questions[i].ans"  type="radio" id="star{{5-x}}" name="rating" value="{{choice}}" [required]="survey.display_type.skip == false"  /><label  for="star{{5-x}}" title="{{choice}}"></label> [required]="survey.display_type.skip == false" -->
                                    <rating [(ngModel)]="survey.questions[i].ans" [titles]="item.options" name="answer" [max]="item.options.length" ></rating>
                                    
                                  <!-- </ng-container> -->
                      
                                    <!-- <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label> -->
                                </div>
                              <!-- </fieldset> -->
                      
                            </div>
                            
                            </div>
                      </ng-template>


                      <ng-template #text >
                          <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Answer" [(ngModel)]="survey.questions[i].ans" name="txt" [required]="survey.display_type.skip == false"></textarea>
                            </mat-form-field>
                      
                      </ng-template>
                      
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 progrs ">
                            <h5 *ngIf="!survey.display_type.pageno">&nbsp;</h5>
                            
                            <h5 *ngIf="survey.display_type.pageno == true" [ngStyle]="{'color': theme.progress_text_color}">Page No. {{cardNo+1}} of {{questionCount}}</h5>
                            <div class="progress" >
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressBarWidth" [ngStyle]="{'background-color': theme.progress_bar_color}">
                                  <span class="sr-only">70% Complete</span>
                                </div>
                              </div> 
                        </div>
                        <div class="col-md-6 progrs">
                            <button *ngIf="cardNo > 0" type="submit" (click)="back(cardNo)" class="btn btn-danger ourbutton btn-mrgn" >Back</button> 
                            
                            <button *ngIf="cardNo < questionCount-1" type="button" (click)="next(cardNo)" class="btn btn-danger ourbutton btn-mrgn" >Next</button> 
                            <button type="button" *ngIf="survey.display_type.skip&&cardNo < questionCount-1" (click)="skipQuestion()" class="btn btn-danger ourbutton btn-mrgn" >Skip</button> </div>
                        </div>
                      
                    <button *ngIf="cardNo == questionCount-1" type="submit" (click)="submitAns()" class="btn btn-danger ourbutton mrgn-50" >Submit</button> 
                    
              </form>
          </div>
          
          
        </div>   
  </div>
     </div>  
  <footer [ngStyle]="{'background-color':theme.f_bg_color}">
    <p [ngStyle]="{'font-size':theme.f_font_size, 'font-family':theme.f_font_family,'color':theme.f_font_color}">{{survey.footer_title}}</p>
  </footer>
            
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Message</h4>
        </div>
        <div class="modal-body">
            <h4></h4>
        
        </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closed()">Close</button>
        </div>
      </div>
    
    </div>
    </div>
    <div id="myModalx" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <h4></h4>
            
            </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closed()">Close</button>
            </div>
          </div>
        
        </div>
    </div>
    <div id="myModaly" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <h4></h4>
            
            </div>
          
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="submitAns()">submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closed()">Close</button>
            </div>
          </div>
        
        </div>
    </div>