<body>

    <div id="wrapper">

        <!-- Navigation -->
        <admin-top-bar></admin-top-bar>
        <admin-side-bar></admin-side-bar>

        <div id="">
            <div class="container-fluid">
                <!-- Page Heading -->


                <!-- /.row -->

            </div>
            <div class="col-md-2"> </div>
            <div class="col-md-10">

                <div class="col-md-12 graph-containers">
                    <admin-chatd3></admin-chatd3>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 graph-containers">
                    <admin-chatd3pie></admin-chatd3pie>
                </div>

            </div>

        </div>
        <!-- /#page-wrapper -->


    </div>

    <footer></footer>

</body>