

      <div *ngIf="closed" >
          <app-user-survey-closed [survey]="survey"></app-user-survey-closed>    
      </div>
      <div *ngIf="upcoming" >
          <app-user-survey-upcoming [countTime]="countTime" [survey]="survey"></app-user-survey-upcoming>    
      </div>
      <div *ngIf="run" >
          <app-user-survey-singlepage [survey]="survey" ></app-user-survey-singlepage>    
      </div>

      <div *ngIf="mrun" >
          <app-user-survey-multiple [survey]="survey" ></app-user-survey-multiple>    
      </div>
    
        <div *ngIf="attented" >
            <app-user-survey-closed [survey]="survey"  [attended]="true"></app-user-survey-closed>    
        </div>
        <div *ngIf="exp" >
            <app-user-survey-closed [survey]="survey"  [exp]="true"></app-user-survey-closed>    
        </div>