<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
  
  <div class="example-container mat-elevation-z8">
      <div *ngIf="notExist"><h4>No Company Found!</h4></div>
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Name Column -->
   <ng-container matColumnDef="slno">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sl_No </mat-header-cell>
      <mat-cell *matCellDef="let row;let i = index"> {{i+1}} </mat-cell>
    </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="companyname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>COMPANY NAME </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.organization}} </mat-cell>
      </ng-container>
  
   <!-- Name Column -->
   <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.contact_email}} </mat-cell>
  </ng-container>
    <!-- Progress Column -->
    <ng-container matColumnDef="contactperson">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT PERSON </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.contact_first_name}}</mat-cell>
    </ng-container>
     <!-- Progress Column -->
     <ng-container matColumnDef="contactnumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT NUMBER </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.contact_number}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="companystatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> COMPANY STATUS </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cmp_status}}</mat-cell>
    </ng-container>
   
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  
  