<body class="login-body">
   <div class="login-page">
    <div class="form">
    <h2>Login</h2>
    
    <form class="login-form" role="form" #f="ngForm" (ngSubmit)="f.form.valid && login()" novalidate>
      
      <div class="input-group form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
			  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
        <input type="text" placeholder="Username" class="styles1 form-control" required [(ngModel)]="newLogin.username" name="username" #username="ngModel" />
        <div class="clearfix"></div>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>
 
	    <div class="input-group form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
			 <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
       <input type="password" placeholder="Password" class="styles1 form-control" required [(ngModel)]="newLogin.password" name="password" #password="ngModel"/>
       <div class="clearfix"></div>
       <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <!-- <div class="col-md-15 ">
          <div *ngIf="showSpinner" class="deletespinner">
              <mat-spinner></mat-spinner>
             </div>
      </div> -->
   
     <br/>
      <button type="submit" class="btn btn-danger">Sign In</button>
      <div  *ngIf="showSpinner">
          <div class=""  >
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="50%" height="59px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
            <animateTransform attributeType="xml"
              attributeName="transform"
              type="rotate"
              from="0 25 25"
              to="360 25 25"
              dur="0.6s"
              repeatCount="indefinite"/>
            </path>
          </svg>
      </div>
      </div>
      <div class="form-group">
        <div *ngIf="showError" class="help-block">User Not Found...!</div>
      </div> 
	  <br/>
    </form>
   </div>
  </div>
</body>

    
    
      

    


