<body>

  <div id="wrapper">

    <!-- Navigation -->
    <app-company-top-bar></app-company-top-bar>
    <app-company-sidebar></app-company-sidebar>

    <div id="">
      <div class="container-fluid">

        <!-- Page Heading -->


        <!-- /.row -->

      </div>
      <div class="col-md-2">
        <nav class="nav-sidebar">
          <ul class="nav tabs buttonleft">
            <li>
              <button class="btn btn-danger addnewbtn" (click)="openModal()" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                data-target="#myModal">Add New</button>
            </li>
            <li *ngIf="loggedInCompany && loggedInCompany?.plans[loggedInCompany?.plans.length-1].excel_import">
            <!-- <li *ngIf="excelImport"> -->
              <button class="btn btn-danger addnewbtn" (click)="openModal()" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                data-target="#importModal">Import from Excel</button>
            </li>
            <!-- <li [ngClass]="{'active1': viewComp == 'Active'}"><a (click)="updateView('Active')" href="#tab4" data-toggle="tab">Active Users</a></li> 
                                        <li [ngClass]="{'active1': viewComp == 'Blocked'}"><a (click)="updateView('Blocked')" href="#tab2" data-toggle="tab">Blocked Users</a></li>
                                        <li [ngClass]="{'active1': viewComp == 'Delete'}"><a (click)="updateView('Delete')" href="#tab3" data-toggle="tab">Delete Users</a></li>   -->

          </ul>
        </nav>
      </div>
      <div class="col-md-10">

        <div *ngIf="viewComp == 'All'">
          <!-- <all-users></all-users> -->
        </div>
        <div *ngIf="viewComp == 'Active'">
          <!-- <active-users></active-users> -->
        </div>
        <div *ngIf="viewComp == 'Blocked'">
          <!-- <disabled-users></disabled-users> -->
        </div>
        <div *ngIf="viewComp == 'Delete'">
          <!-- <deleted-users></deleted-users> -->
        </div>
      </div>

    </div>
    <!-- /#page-wrapper -->


  </div>

  <div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header"> -->
        <!-- <h4 class="modal-title">Are you sure to delete?</h4> -->
        <!-- </div> -->
        <div class="modal-body">
          <h4>Are you sure to delete?</h4>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" (click)="deleteUser(userId)" class="btn btn-default" data-dismiss="modal">Delete</button>
        </div>
      </div>

    </div>
  </div>

  <div id="myModal2" class="modal fade">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Block Request </h4>
        </div>
        <br>
        <!-- <div *ngIf="isError" class="alert alert-danger">
                          {{errorMsg}}
                       </div>
                       <div *ngIf="isSuccess" class="alert alert-danger">
                           {{errorMsg}}
                        </div> -->


        <div class="modal-body">
          <form role="form" #f1="ngForm" (ngSubmit)="sendBlockRequest(newBlock)">
            <p>User Name : {{newBlock.email}}</p>


            <br>
            <div class="form-group">
              <textarea class="form-control" rows="5" name="reason" id="comment" placeholder="Reason" [(ngModel)]="newBlock.reason"></textarea>
            </div>
            <!-- <div *ngIf="showSpinner">
                                    <mat-spinner></mat-spinner>
                                   </div> -->




            <div class="row">
              <div class="col-md-4">
                <input type="submit" class="btn btn-danger" value="Send" [disabled]="btnDisbled">
              </div>
              <div class="col-md-8" *ngIf="showSpinner">
                <svg class="svgclass" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"
                    />
                  </path>
                </svg>
              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
        </div>
      </div>
    </div>
  </div>

  <flash-messages></flash-messages>

  <br>
  <div class="col-md-8">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 preloader2" *ngIf="showSpinnerDelete">
          <div class="">
            <svg class="svgclass" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="50%" height="59px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"
                />
              </path>
            </svg>
          </div>
        </div>
        <flash-messages></flash-messages>

        <div class="example-header">
          <div class="col-md-8">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <div *ngIf="userGroups && userGroups.length > 0">
              <mat-form-field class="filter">
                <mat-select (change)="updateUserList()" name="xyz" [(ngModel)]="selectedUserGroup">
                  <mat-option value="all">All</mat-option>
                  <mat-option value="{{grp._id}}" *ngFor="let grp of userGroups">{{grp.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="example-container mat-elevation-z8 ">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> SL NO. </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index"> {{i+1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> NAME</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ACTION</mat-header-cell>
              <mat-cell *matCellDef="let row"><button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon> </button>
                <mat-menu #menu="matMenu">
                  <div>

                    <button *ngIf="row.block_req_status==false" mat-menu-item (click)="getUserEmail(row.id,row.email)" data-toggle="modal" data-target="#myModal2">
                                                  <mat-icon><i class="material-icons">block</i></mat-icon>
                                                  <span>Sent Block Request</span>
                                                  </button>
                    <button *ngIf="row.block_req_status==true" mat-menu-item>
                                                      <mat-icon><i class="material-icons">block</i></mat-icon>
                                                      <span>Already sent Block request</span>
                                                      </button>
                  </div>
                  <button mat-menu-item (click)="bindEditUser(row.item)" data-toggle="modal" data-target="#editModal">
                                                    <mat-icon><i class="material-icons">mode_edit</i></mat-icon>
                                                    <span>Edit</span>
                                                    </button>
                  <button mat-menu-item (click)="getUserId(row.id)" data-toggle="modal" data-target="#deleteModal"> 
                                                    <mat-icon><i class="material-icons">delete</i></mat-icon>
                                                    <span>Delete</span>
                                                </button>
                </mat-menu>
              </mat-cell>

            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

          </mat-table>
          <!-- <div class="col-md-15 "> -->
          <!-- <div *ngIf="showSpinnerDelete" class="deletespinner">
                          <mat-spinner></mat-spinner>
                       </div> -->

          <!-- </div> -->

          <div class="col-md-12 noItemFound" *ngIf="!existStatus">
            <div class="col-md-4 col-md-offset-4">
              <mat-toolbar class="back-color">No item found!</mat-toolbar>
            </div>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <!-- -------------------------------------------------------------------------------------------edit------------------------- -->
  <div id="editModal" class="modal fade">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" #closeBtn1>&times;</button>
          <h4 class="modal-title">Edit User</h4>
        </div>
        <div class="modal-body">

          <form role="form" #f1="ngForm" (ngSubmit)="f1.form.valid && updateUsers(f1);" novalidate>

            <div class="form-group">
              <label> Email </label>
              <br>
              <!-- <div *ngIf="isError1" class="text-danger text-left">
                                      {{msg1}}
                                 </div>
                                 <div *ngIf="isSuccess1" class="text-success text-left">
                                    {{msg1}}
                              </div> -->

              <div>
                <div class="inputitem">
                  <mat-form-field *ngIf="!selUser.is_registered" class="inputfileds">
                    <input matInput [value]="selUser.email" placeholder="Email address" required email #email="ngModel" name="email" [(ngModel)]="selUser.newEmail">
                    <!-- <input matInput placeholder="Email address" [formControl]="emailFormControl" name="emails_{{i}}" [(ngModel)]="newUser.email[i]"  required > -->

                  </mat-form-field>
                  <div *ngIf="selUser.is_registered">
                    <label>{{selUser.email}}</label>
                  </div>
                </div>
              </div>
              <div style="clear: both;"></div>
              <br/>

              <br/>
              <div class="inputitem">
                <mat-form-field class="inputfileds">
                  <mat-select placeholder="Groups" name='editgrup' [(ngModel)]="selUserGroups" multiple>
                    <mat-option [value]="grp._id" *ngFor="let grp of groups;">{{grp.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <br>
              <div style="clear: both;"></div>
            </div>
            <br>
            <!-- <div *ngIf="showSpinner">
                                  <mat-spinner></mat-spinner>
                                 </div> -->


            <div class="row">
              <div class="col-md-4">
                <button type="submit" [disabled]="updateBtnDisbled" class="btn btn-danger ourbutton">Update</button>
              </div>
              <div class="col-md-8" *ngIf="showSpinner">
                <svg class="svgclass" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"
                    />
                  </path>
                </svg>
              </div>

            </div>

          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>

  <!-- --------------------------------------------------------------------import-------------------------------------------------------------------------------------------------- -->
  <div id="importModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" #closeBtn2>&times;</button>
          <h4 class="modal-title">Import From Excel</h4>
        </div>
        <div class="modal-body">
          <form role="form" #f2="ngForm" (ngSubmit)="f2.form.valid && import(f2);" novalidate>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label> File </label>
                  <!-- <br> -->
                  <input #myInput type="file" (change)="handleFile($event)" accept=".xlsx" />
                </div>
                <div class="col-md-6">
                  <br> Sample Excel : <a href="/assets/sampleFile/sample.xlsx" target="_self" download>
                <i class="fa fa-download"></i>
              </a>
                </div>
              </div>
              <br>
              <!-- <div *ngIf="isError" class="text-danger text-left">
                {{msg}}
           </div>
           <div *ngIf="isSuccess" class="text-success text-left">
              {{msg}}
        </div> -->
              <div class="inputitem">
                <mat-form-field class="inputfileds">
                  <mat-select placeholder="Groups" name='selected' #group="ngModel" [(ngModel)]="newUser.groups" multiple>
                    <mat-option [value]="grp" *ngFor="let grp of groups;">{{grp.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="float: left;">
                <button class="btn btn-danger ourbutton" (click)="showGroupAddOption()">Add Group</button>
              </div>
              <br>
              <div style="clear: both;"></div>
              <div *ngIf="showAddGroup">
                <mat-form-field class="inputfileds">
                  <input matInput placeholder="Group Name" [(ngModel)]="newGroup" name="newGroup">
                </mat-form-field>
                <button class="btn btn-danger ourbutton" (click)="addGroup()">Add</button>
              </div>
            </div>
            <!-- <div *ngIf="showSpinner">
                <mat-spinner></mat-spinner>
               </div> -->



            <div class="row">
              <div class="col-md-4">
                <button type="submit" [disabled]="updateBtnDisbled1" class="btn btn-danger ourbutton">Update</button>
              </div>
              <div class="col-md-8" *ngIf="showSpinner">
                <svg class="svgclass" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"
                    />
                  </path>
                </svg>
              </div>

            </div>

          </form>
        </div>



        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------------------------------add---------------------------------------------------------------------------------------------- -->

  <div id="myModal" class="modal fade">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" #closeBtnAdd>&times;</button>
          <h4 class="modal-title">Add User</h4>
        </div>
        <div class="modal-body">

          <form role="form" #f="ngForm" (ngSubmit)="f.form.valid && addUsers(f);" novalidate>

            <div class="form-group">
              <label> Email </label>
              <br>
              <!-- <div *ngIf="isError" class="text-danger text-left">
                                        {{msg}}
                                   </div>
                                   <div *ngIf="isSuccess" class="text-success text-left">
                                      {{msg}}
                                </div> -->

              <div *ngFor="let item of newUser.email; let i = index; trackBy:trackByIndex">
                <div class="inputitem">
                  <mat-form-field class="inputfileds">
                    <input matInput placeholder="Email address" required email #email{{i}}="ngModel" name="emails_{{i}}" [(ngModel)]="newUser.email[i]">
                    <!-- <input matInput placeholder="Email address" [formControl]="emailFormControl" name="emails_{{i}}" [(ngModel)]="newUser.email[i]"  required > -->

                  </mat-form-field>

                </div>
                <div style="float: left;padding-top: 14px;width:220px;">
                  <button class="btn-danger" (click)="removeOption(i)" style="float: left;">X</button>
                </div>
              </div>
              <div style="clear: both;"></div>
              <br/>
              <button class="btn btn-danger ourbutton" (click)="addMoreOption()">Add More</button>
              <br/>
              <br/>
              <div class="inputitem">
                <mat-form-field class="inputfileds">
                  <mat-select placeholder="Groups" name='selected' #group="ngModel" [(ngModel)]="newUser.groups" multiple>
                    <mat-option [value]="grp" *ngFor="let grp of groups;">{{grp.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="float: left;">
                <button class="btn btn-danger ourbutton" (click)="showGroupAddOption()">Add Group</button>
              </div>
              <br>
              <div style="clear: both;"></div>
              <div *ngIf="showAddGroup">
                <mat-form-field class="inputfileds">
                  <input matInput placeholder="Group Name" [(ngModel)]="newGroup" name="newGroup">
                </mat-form-field>
                <button class="btn btn-danger ourbutton" (click)="addGroup()">Add</button>
              </div>

            </div>
            <br>
            <!-- <div *ngIf="showSpinner">
                                    <mat-spinner></mat-spinner>
                                   </div> -->

            <div class="row">
              <div class="col-md-4">
                <button type="submit" [disabled]="btnDisbled" class="btn btn-danger ourbutton">Submit</button>
              </div>
              <div class="col-md-8" *ngIf="showSpinner">
                <svg class="svgclass" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"
                    />
                  </path>
                </svg>
              </div>

            </div>

          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>




  <footer></footer>

</body>