.survey-close {
    text-align: center;
    padding-top: 20%;
}

.user-layout .navbar-brand {
    margin: 0 auto;
    text-align: center;
    float: none;
}

.user-layout {}

.navbar {
    border-radius: 0;
}

.user-layout h2 {
    font-family: "Roboto-Regular";
    text-align: left;
    font-size: 20px;
    color: #111;
}

.checkbox,
.radio {
    text-align: left;
}

.radio label {
    padding-left: 11px;
}

.radio input[type=radio] {
    margin-left: -14px;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
    margin:  0 0 0 5px;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.checked {
    color: #ea5a5a;
}

.user-layout .styles1 {
    border: 0;
    border-bottom: 1px solid #dbdbdb;
    font-family: "Roboto-Regular";
    background: none;
    padding: 10px 0px;
    font-size: 13px;
    max-width: 400px;
    width: 100%;
    color: #5d5d5d !important;
    float: left;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

.navbar-brand {}

.btn {
    border-radius: 16px !important;
    padding: 6px 22px !important;
}

.timer {
    font-family: "Roboto-Bold";
    text-align: center;
    color: #ea5a5a;
    font-size: 18px;
    padding-top: 10px;
}

.timer {
    font-family: "Roboto-Bold";
    text-align: center;
    color: #ea5a5a;
}

.navbar-brand h2 {
    color: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 40px !important;
}

.x-new {
    background-color: #5d3c3c;
    border: none;
    min-height: 80px;
    margin-bottom: 0;
    padding-top: 20px;
}

.user-layout footer {
    background: #111;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

.mrgrght {
    margin-right: 10px;
}

.bg-color {
    background: #f6e8e8;
    padding: 20px 10px;
    margin-bottom: 20px;
}

p {
    font-family: "Roboto-Regular";
}

.survey-close .fa-exclamation-triangle {
    color: #fba21b;
    text-align: center;
    font-size: 148px;
}

.survey-close h2 {
    text-align: center;
    font-family: "Roboto-Bold";
    font-size: 50px;
}

.survey-close h3 {
    text-align: center;
    font-family: "Roboto-Bold";
    font-size: 50px;
    color: #d9534f;
}

.survey-close {
    text-align: center;
    padding-top: 9%;
}

.progress {
    position: relative;
    height: 25px;
}

.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

.progress-bar {
    background-color: #da524f;
}

.bs-wizard {
    margin-top: 14px;
}


/*Form Wizard*/

.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #da524f94;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #da524f;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #efc9c9;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}


/******survey**********/

.survey {}

.survey header {
    background: #4c7e9a;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.survey header h2 {
    color: #fff;
    font-size: 18px;
}

.survey header h4 {
    color: #fff;
    font-size: 12px;
}

.survey .logo {
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    color: #fff;
    font-size: 18px;
}

.survey footer {
    background: #111;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.survey label {
    font-family: "Roboto-Regular";
    color: #616161;
    font-size: 13px;
}

.survey h3 {
    font-family: "Roboto-Regular";
    color: #111;
    margin-bottom: 0;
    font-size: 16px;
}

.survey .question {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 11px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
}

.survey .question h3 {
    font-family: "Roboto-Regular";
    color: #000;
    margin-top: 0;
}

.survey .question .fa {
    padding: 4px;
}

.survey .question .fa:hover {
    opacity: 0.6;
}




.srvey-hd{
    margin-top: 12px;
}

.bld{
    font-weight: 700 !important
  }
  .itlc{
    font-style: italic !important;
  }

.star-container{
    width: 104px
}
  .rating label {
    float: right;
    position: relative;
    width: 25px;
    height: 40px;
    cursor: pointer;
  }
  .rating label:not(:first-of-type) {
    padding-right: 2px;
  }
  .rating label:before {
    content: "\2605";
    font-size: 25px;
    color: #CCCCCC;
    line-height: 1;
  }
  .rating input {
    display: none;
  }
  .rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
    color: #F9DF4A;
  }

lg-out{
    margin: 0px 43px 9px 0;
}
.questn-container{
    min-height: 800px;
}