
<div class="user-layout" *ngIf="disp">
    <nav class="navbar navbar-toggleable-md fixed-top x-new" [ngStyle]="{'background-color':theme.h_bg_color }">
      <div class="container">
        <div class="col-md-8 col-md-offset-2" *ngIf="survey.logo != '' else newhd">
          <div class="col-md-4 txt-right">
            <img  class="logo-img" src="{{serviceUrl+'logo/'+survey.logo}}" height="100" alt="logo">                   
          </div>
          <div class="col-md-8 ">
              <h1 class="srvey-hd" [ngStyle]="{'font-size':theme.h_font_size, 'font-family':theme.h_font_family, 'color':theme.h_font_color}" [ngClass]="{ 'itlc' : theme.h_font_italic, 'bld': theme.h_font_bold}">{{survey.header_title}}</h1>
              
          </div>
        </div>
        <ng-template #newhd>
          <div class="col-md-12">
            <h1 class="srvey-hd" style="text-align:center" [ngStyle]="{'font-size':theme.h_font_size, 'font-family':theme.h_font_family, 'color':theme.h_font_color}" [ngClass]="{ 'itlc' : theme.h_font_italic, 'bld': theme.h_font_bold}">{{survey.header_title}}</h1>
            
          </div>
        </ng-template>
      </div>
    </nav>
    <div [ngStyle]="{'background-color':theme.b_bg_color}" style="padding-top:20px">
    <div class="container">
        <div class="col-md-12 questn-container">
            <button type="submit" (click)="logout()" class="btn btn-danger pull-right lg-out" >Logout</button>
            <div class="col-md-12">
                <app-count-down-timer  class="pull-right" [inputDate]="survey.end_datetime" [addClass]="'timer-survey'"  (onTimeOver)="timeOver()"></app-count-down-timer>             
                
            </div>
            <div class="col-md-12">
              <h4 *ngIf="blankAns" [ngStyle]="{'color':'#d9534f'}">Fill all answers</h4>
                <form action="">
                    <div class="col-md-12" *ngFor="let item of survey.questions; let i=index" [ngStyle]="{'background-color':theme.q_bg_color}" style="margin-bottom:10px;padding:10px;">
                        <p [ngStyle]="{'font-size': theme.q_font_size, 'font-family':theme.q_font_family, 'color':theme.q_font_color}" [ngClass]="{ 'itlc' : theme.q_font_italic, 'bld': theme.q_font_bold}">{{i+1}}. {{item.question}}</p>
                        <div *ngIf="item.ans_type == 'Multiple choice'; else star">
                            <mat-radio-group class="example-radio-group" [(ngModel)]="survey.questions[i].ans" name="{{item._id}}">
                                <mat-radio-button class="example-radio-button" *ngFor="let choice of item.options" [value]="choice" [required]="survey.display_type.skip == false" >
                                  <span [ngStyle]="{'font-size': theme.q_font_size, 'font-family':theme.q_font_family, 'color':theme.q_font_color}" [ngClass]="{ 'itlc' : theme.q_font_italic, 'bld': theme.q_font_bold}">{{choice}}</span>
                                </mat-radio-button>
                              </mat-radio-group>
                        </div>


                        <ng-template #star >
                            <div class="star-container star-rating" *ngIf="item.ans_type === 'star rating'; else text">
                                <!-- <fieldset>
                                  <input type="radio" id="{{'star'+x+1}}" *ngFor="let choice of item.options; let x=index;" name="rating" value="{{x+1}}" /><label *ngFor="let choice of item.options; let i=index;" for="{{'star'+i+1}}" title="{{choice}}">5 stars</label> -->
                                  <div class="rating">
                                    <!-- <ng-container *ngFor="let choice of item.options | reverse; let x=index;"> -->
                                        <!-- <star-rating-comp [starType]="'svg'" [hoverEnabled]="true"
                                        [showHalfStars]="false" [labelText]="'My text!'"></star-rating-comp> -->
                                        <rating [(ngModel)]="survey.questions[i].ans" [titles]="item.options" name="answer" [max]="item.options.length"></rating>
                                    <!-- </ng-container> -->
                                      <!-- <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                      <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                      <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                      <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label> -->
                                  </div>
                                <!-- </fieldset> -->
                              </div>
                        </ng-template>


                        <ng-template #text >
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Answer" [(ngModel)]="survey.questions[i].ans" name="txt" [required]="survey.display_type.skip == false"></textarea>
                              </mat-form-field>
                        </ng-template>
                      </div>


                      <!-- <div *ngIf="showSpinner" class="deletespinner">
                          <mat-spinner></mat-spinner>
                      </div> -->

                      <div class="row">
                          <div class="col-md-4">
                              <button type="submit" (click)="submitAns()" class="btn btn-danger ourbutton btn-mrgn" >Submit</button> 
                                </div>
                                <div class="col-md-8" *ngIf="showSpinner" >
                                       <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                       width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                   <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                     <animateTransform attributeType="xml"
                                       attributeName="transform"
                                       type="rotate"
                                       from="0 25 25"
                                       to="360 25 25"
                                       dur="0.6s"
                                       repeatCount="indefinite"/>
                                     </path>
                                   </svg>
                                </div>
                                 
                              </div>
                      
                
                      
                </form>
            </div>
            
            
          </div>   
    </div>
       </div>  
    <footer [ngStyle]="{'background-color':theme.f_bg_color}">
      <p [ngStyle]="{'font-size':theme.f_font_size, 'font-family':theme.f_font_family,'color':theme.f_font_color}">{{survey.footer_title}}</p>
    </footer>
              
  </div>

  <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Message</h4>
          </div>
          <div class="modal-body">
              <h4></h4>
          
          </div>
        
          <div class="modal-footer">
            <button type="button" *ngIf="err" class="btn btn-default" data-dismiss="modal" (click)="closedErr()">Close</button>
            <button type="button" *ngIf="!err" class="btn btn-default" data-dismiss="modal" (click)="closed()">Close</button>
          </div>
        </div>
      
      </div>
      </div>





      <div id="myModalx" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <h4></h4>
            
            </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closed()">Close</button>
            </div>
          </div>
        
        </div>
    </div>
    <div id="myModaly" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <h4></h4>
            
            </div>
          
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="submitAns()">submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closed()">Close</button>
            </div>
          </div>
        
        </div>
    </div>