.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .filter{
    margin-top: 10px;
  }
   
  .noItemFound{
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;

 }
 .back-color{
    color: #757575;
    background-color: #ffffff;
}
svg path,
svg rect{
  fill: #EC0C0C;
}
.modal-content{border-radius:0;box-shadow:none;}
.modal-header {
    padding: 7px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #da524f;
}
.modal-title {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #fff;
}
.close {
   
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    text-shadow: none;
    filter: alpha(opacity=20);
    opacity: inherit;
    padding-top:0px;
}
