<body>
  <div id="wrapper">
    <!-- Navigation -->
    <app-company-top-bar></app-company-top-bar>
    <app-company-sidebar></app-company-sidebar>
    <br>
    <div class="container">
      <div *ngIf="!showPaymentInfo">
        <!-- <ul *ngFor="let plan of plans">
          <li>
            {{plan?.plan_name}}
            <button class="btn btn-danger ourbutton" (click)="upgrade(plan._id)">Upgrade</button>
          </li>
        </ul> -->

            <section id="plan">
              <div class="col-md-12 plan-bg">
                  <div class="container">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                           
                            <h4 class="plan-hd">Plans & Pricing</h4>
                            <ul class="lim-hd">
                              
                                <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;No of  Surveys</li>
                                <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;No of Questions per Survey</li>
                                <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;No of Survey Attenders</li>
                                <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Survey Logic</li>
                                <li><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Excel import</li>
                                </ul>
                          </div>
                          <div class="col-md-9">
                              <div class="wrap">
                                  <div class="pricing-table">
                                    <ng-container *ngFor="let plan of plans">
                                        <div class="plan">
                                            <h3 class="name">{{plan?.plan_name}}</h3>
                                            <h4 class="price">${{plan?.plan_price}}</h4>
                                            <h3 class="mnth">per month</h3>
                                            <ul class="details">
                                              <li>{{plan?.no_survey}}</li>                                        
                                              <li>{{plan?.no_question}}</li>
                                              <li>{{plan?.no_survey_attenders}}</li>
                                              <li><div *ngIf="plan?.survey_logic"><i class="fa fa-check"></i></div>
                                                <div *ngIf="!plan?.survey_logic"><i class="fa fa-times"></i></div>
                                              </li>
                                              <li><div *ngIf="plan?.excel_import"><i class="fa fa-check"></i></div>
                                                <div *ngIf="!plan?.excel_import"><i class="fa fa-times"></i></div>
                                              </li>
                                            </ul>
                                      
                                            <h5 class="order"><button (click)="upgrade(plan._id)"> Upgrade</button></h5>
                                          </div>
                                    </ng-container>
                                    <!-- <div class="plan">
                                      <h3 class="name">Basic</h3>
                                      <h4 class="price">$10</h4>
                                      <h3 class="mnth">per month</h3>
                                      <ul class="details">
                                        <li>10</li>
                                        <li>10</li>
                                        <li>20</li>
                                        <li><i class="fa fa-times"></i></li>
                                        <li><i class="fa fa-times"></i></li>
                                      </ul>
                                
                                      <h5 class="order"><a href="#">Order Now</a></h5>
                                    </div>
                                
                                    <div class="plan">
                                      <h3 class="name">Standard</h3>
                                      <h4 class="price">$20</h4>
                                      <h3 class="mnth">per month</h3>
                                
                                      <ul class="details">
                                        <li>50</li>
                                        <li>30</li>
                                        <li>100</li>
                                        <li><i class="fa fa-times"></i></li>
                                        <li><i class="fa fa-check"></i></li>                                  
                                      </ul>
                                
                                      <h5 class="order"><a href="#">Order Now</a></h5>
                                    </div>
                                
                                    <div class="plan">
                                      <h3 class="name">Premium</h3>
                                      <h4 class="price">$30</h4>
                                      <h3 class="mnth">per month</h3>
                                
                                      <ul class="details">
                                        <li>Unlimited</li>
                                        <li>Unlimited</li>
                                        <li>Unlimited</li>
                                        <li><i class="fa fa-check"></i></li>                                  
                                        <li><i class="fa fa-check"></i></li>                                  
                                        
                                      </ul>
                                
                                      <h5 class="order"><a href="#">Order Now</a></h5>
                                    </div> -->
                                  </div><!--.pricing-table-->
                                </div><!--.wrap-->
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              
            </section>
            
            
      
      
      </div>


      <!-- --------------------------------------------------------------------------------------------secnd page---------------------------------------------------- -->
      <div *ngIf="showPaymentInfo">
        <!-- {{selectedId}} -->
        <!-- <legend>Payment Method</legend> -->
        <div class="container">
          <div class="panel panel-default">
            <div class="panel-heading">Payment Method</div>
            <div class="panel-body">
              <mat-form-field [formGroup]="formGroup">
                <input matInput [(ngModel)]="payment.cardnum" name="cardnum" autofocus placeholder="Card Number" required formControlName="cardnumValidation">
              </mat-form-field>
              <br>
              <mat-form-field [formGroup]="formGroup">
                <input matInput [(ngModel)]="payment.cardname" name="cardname" placeholder="Name on Card" required formControlName="cardnameValidation">
              </mat-form-field>
              <br>
              <mat-form-field [formGroup]="formGroup">
                <input type="number" matInput [(ngModel)]="payment.cvv" name="cvv" placeholder="CVV" required formControlName="cvvValidation">
              </mat-form-field>
              <br>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Billing Details</div>
            <div class="panel-body">
              <mat-form-field [formGroup]="formGroup">
                <input matInput [(ngModel)]="payment.fname" name="fname" placeholder="First Name" required formControlName="fnameValidation">
              </mat-form-field>
              <br>
              <mat-form-field [formGroup]="formGroup">
                <input matInput [(ngModel)]="payment.lname" name="lname" placeholder="Last Name" required formControlName="lnameValidation">
              </mat-form-field>
              <br>
              <mat-form-field [formGroup]="formGroup">
                <input matInput [(ngModel)]="payment.addr" name="addr" placeholder="Address" required formControlName="addrValidation">
              </mat-form-field>
              <br>
              <mat-form-field [formGroup]="formGroup">
                <input matInput [(ngModel)]="payment.no" name="no" placeholder="Phone Number" required formControlName="noValidation">
              </mat-form-field>
              <br>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Review and Confirm</div>
            <div class="panel-body">
              <table>
                <tr>
                  <td>Plan  </td>
                  <td>:</td>
                  <td><b>{{selectedPlan?.plan_name}}</b></td>
                </tr>
                <br>
                <tr>
                  <td>No. of Months  </td>
                  <td>:</td>
                  <td>
                    <mat-form-field [formGroup]="formGroup"><input type="number"  min="1" matInput [(ngModel)]="payment.no_months" name="no_months" required formControlName="no_monthsValidation">
                    </mat-form-field>
                  </td>
                </tr>
                <br>
                <tr>
                  <td>Price  </td>
                  <td>:</td>
                  <td><b>{{selectedPlan?.plan_price}}</b></td>
                </tr>
                <br>
                <tr>
                  <td>Amount  </td>
                  <td>:</td>
                  <td><b>{{selectedPlan?.plan_price * payment.no_months}} </b></td>
                </tr>
                <br>
              </table>
           
              <div class="row">
                <div class="col-md-3">
                  <button type="submit" [disabled]="updateBtnDisbled" class="btn btn-danger ourbutton" (click)="confirm(selectedId)">Confirm</button>
        
                      </div>
                      <div class="col-md-8"  *ngIf="showSpinner">
                             <svg class="svgclass" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                         <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                           <animateTransform attributeType="xml"
                             attributeName="transform"
                             type="rotate"
                             from="0 25 25"
                             to="360 25 25"
                             dur="0.6s"
                             repeatCount="indefinite"/>
                           </path>
                         </svg>
                      </div>
                       
                    </div>
              <br>
              <!-- <div class="text-danger text-left">
                  {{msg}}
             </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>