<flash-messages></flash-messages>
<br>
<div class="container">
  <div class="panel panel-default panel-danger">
    <div class="panel-heading ">Your Free Trial Version has Expired!</div>
    <div class="panel-body">
      Expired Licence Term : <b>30 days</b><br>
      To resume the facilities, subscribe from here.
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
          <button type="button" (click)="subscribe()" class="btn btn-danger">Subscribe</button>
          <button type="button" (click)="logout()"  class="btn btn-default">Sign Out</button>
      </div>
  </div>
  </div>
  
</div>