<body>
  <div id="wrapper">
    <!-- Navigation -->
    <top-bar></top-bar>            
    <side-bar></side-bar>
    <div id="">
      <div class="container-fluid">
        <!-- Page Heading -->
      
  
        <!-- /.row -->
      </div>
      <div class="col-md-2">
        <nav class="nav-sidebar">
          <ul class="nav tabs">
            <li [ngClass]="{'active1': viewComp == 'All'}"><a (click)="updateView('All')" href="#tab1" data-toggle="tab">All Users</a></li>
            <li [ngClass]="{'active1': viewComp == 'Active'}"><a (click)="updateView('Active')" href="#tab4" data-toggle="tab">Active Users</a></li> 
            <li [ngClass]="{'active1': viewComp == 'Blocked'}"><a (click)="updateView('Blocked')" href="#tab2" data-toggle="tab">Blocked Users</a></li>
            <li [ngClass]="{'active1': viewComp == 'Delete'}"><a (click)="updateView('Delete')" href="#tab3" data-toggle="tab">Delete Users</a></li>  
          </ul>
        </nav>
                                                     
      </div>
      <div class="col-md-10">
        <div *ngIf="viewComp == 'All'">
          <!-- <all-users></all-users> -->
        </div>
        <div *ngIf="viewComp == 'Active'">
            <!-- <active-users></active-users> -->
          </div>
        <div *ngIf="viewComp == 'Blocked'">
          <!-- <disabled-users></disabled-users> -->
        </div>
        <div *ngIf="viewComp == 'Delete'">
          <!-- <deleted-users></deleted-users> -->
        </div>
      </div>
    </div>
    <!-- /#page-wrapper -->
  </div>
  <footer></footer> 
  
</body>
        
    
                


              
              
            

        
                   
    