<ul class="nav navbar-nav side-nav" >
    <!-- <li> -->
        <!-- <a routerLink="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a> -->
    <!-- </li> -->
   <a class="navbar-brand" routerLink="/dashboard"> <img src="./assets/images/brand.png" class="logo-main" alt=""></a>
   
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a [routerLink]="['/dashboard']"><i class="fa fa-pie-chart"></i> Dashboard</a>
       
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <!-- <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-product-hunt"></i> Users</a>  -->
            <a [routerLink]="['/company-users']" ><i class="fa fa-user"></i> Users</a> 
            
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <!-- <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-product-hunt"></i> Users</a>  -->
          <a [routerLink]="['/company-manage-user-groups']" ><i class="fa fa-users"></i> User groups</a> 
          
      </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a [routerLink]="['/create-theme']"><i class="fa fa-paint-brush"></i> Themes </a>
       
    </li>

    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [ngClass]="{'active': router.url == '/company-create-survey'}" class="/company-create-survey">
        <a [routerLink]="['/company-list-survey']" ><i class="fa fa-list-alt"></i> Survey </a>
       
    </li>
</ul>
