<div class="padd-top"></div>
<div class="container">

  <flash-messages></flash-messages>
  <mat-horizontal-stepper [linear]="isLinear">

    <mat-step [stepControl]="firstFormGroup">
      <div class="col-md-6 col-md-offset-3">
        <form (ngSubmit)="appendForm1()">
          <ng-template matStepLabel>Step 1</ng-template>
          <h4>Tell us about your job to get a sense of how many responses to expect</h4>
          <br/>
          <mat-form-field [formGroup]="firstFormGroup">
            <input matInput [(ngModel)]="newReg.organization" name="organization" placeholder="Your Organization" required formControlName="orgValidation">
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="firstFormGroup">
            <mat-select placeholder="Organization Type" [(ngModel)]="newReg.organization_type" name="organization_type" required formControlName="organization_typeValidation">
              <mat-option *ngFor="let type of orgType" [value]="type">
                {{ type.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="firstFormGroup">

            <mat-select placeholder="Industry" [(ngModel)]="newReg.industry" name="industry" required formControlName="industryValidation">
              <mat-option *ngFor="let item of industry" [value]="item">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="firstFormGroup">
            <input matInput [(ngModel)]="newReg.location" name="location" placeholder="Location" required formControlName="locationValidation">
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="firstFormGroup">
            <input type="number" matInput [(ngModel)]="newReg.company_strength" name="company_strength" placeholder="Company Strength"
              required formControlName="strengthValidation">
          </mat-form-field>
          <br/>
          <div class="btn btn-danger">
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <div class="col-md-6 col-md-offset-3">
        <form (ngSubmit)="appendForm2()">
          <ng-template matStepLabel>Step 2</ng-template>
          <h4>Tell us about yourself</h4>
          <mat-form-field [formGroup]="secondFormGroup">
            <input matInput [(ngModel)]="newReg.contact_person_fname" name="contact_person_fname" placeholder="First Name" required formControlName="fnameValidation">
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="secondFormGroup">
            <input matInput [(ngModel)]="newReg.contact_person_lname" name="contact_person_lname" placeholder="Last Name" required formControlName="lnameValidation">
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="secondFormGroup">
            <input matInput [(ngModel)]="newReg.contact_person_email" name="contact_person_email" placeholder="Email" required formControlName="email">
            <mat-error>Not a valid email</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="secondFormGroup">
            <input matInput [(ngModel)]="newReg.contact_no" name="contact_no" placeholder="Phone Number" maxlength="10" minlength="10"
              required formControlName="number">
            <mat-error>Not a valid phone number</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="secondFormGroup">
            <input matInput [(ngModel)]="newReg.job_role" name="job_role" placeholder="Job Role" required formControlName="jobRoleValidation">
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="secondFormGroup">
            <input matInput [(ngModel)]="newReg.job_level" name="job_level" placeholder="Job Level, eg :- Level A " required formControlName="jobLevelValidation">
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="secondFormGroup">
            <input matInput [(ngModel)]="newReg.password" id="password" placeholder="Password" name="password" [type]="hide ? 'password' : 'text'"
              required formControlName="password" validateEqual="confirmPassword" reverse="true">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error>Password contain atleast 6 characters and should contain one number,one character and one special character</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field [formGroup]="secondFormGroup">
            <input type="password" matInput [(ngModel)]="Reg.confirmPassword" reverse="false" validateEqual="password" placeholder="Confirm Password"
              name="confirmPassword" required formControlName="confirmPassword" id="confirmPassword">
            <mat-error>Password Not Match</mat-error>
          </mat-form-field>
          <br/>

          <div class="btn btn-danger">
            <button mat-button matStepperPrevious>Back</button>
          </div>
          <div class="btn btn-danger">
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step *ngIf="showPlanStepper" [stepControl]="planFormGroup">
      <div class="col-md-6 col-md-offset-3">
        <form (ngSubmit)="appendPlanForm()">
          <ng-template matStepLabel>Step 3</ng-template>
          <h4>Choose your plan. Get started now with the survey platform that adapts to your needs</h4>
          <mat-form-field [formGroup]="planFormGroup">
            <!-- <input matInput [(ngModel)]="newReg.plans" name="plans" placeholder="Plan" required formControlName="planNameValidation"> -->
            <mat-select placeholder="Plan" [(ngModel)]="planId" name="plans" required formControlName="planNameValidation">
              <mat-option *ngFor="let item of plans" [value]="item._id" (click)="getPlan(item)">
                {{ item.plan_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field *ngIf="showMonth" [formGroup]="planFormGroup">
              <input matInput [(ngModel)]="payment.cardnum" name="cardnum" placeholder="Card Number" required formControlName="cardnumValidation">
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="showMonth" [formGroup]="planFormGroup">
              <input matInput [(ngModel)]="payment.cardname" name="cardname" placeholder="Name on Card" required formControlName="cardnameValidation">
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="showMonth" [formGroup]="planFormGroup">
              <input type="number" matInput [(ngModel)]="payment.cvv" name="cvv" placeholder="CVV" required formControlName="cvvValidation">
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="showMonth" [formGroup]="planFormGroup">
                <input type="number" matInput [(ngModel)]="newReg.plans.no_month" name="no_month" placeholder="No.of Months" required formControlName="planMonthValidation">
              </mat-form-field>
          
              <br/>
          <div class="btn btn-danger">
            <button mat-button matStepperPrevious>Back</button>
          </div>
          <div class="btn btn-danger">
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <div class="col-md-6 col-md-offset-3">
        <form (ngSubmit)="register()">
          <ng-template matStepLabel>
            <div *ngIf="showPlanStepper">Step 4</div>
            <div *ngIf="!showPlanStepper">Step 3</div>
          </ng-template>
          <h4>Tell us who you are looking to get answers from</h4>
          <section class="example-section" *ngFor="let data of surveyattenders; let i = index;">
            <mat-checkbox class="example-margin" name="data_{{i}}" [(ngModel)]="surveyattenders[i].check">{{data.name}}</mat-checkbox>

          </section>
          <div class="row">
            <div class="col-md-3 btn-danger">
                <button type="submit" mat-button >Finish</button>
                  </div>
                  <div class="col-md-8" *ngIf="showSpinner" >
                         <svg  class="svgstyle" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                     <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                       <animateTransform attributeType="xml"
                         attributeName="transform"
                         type="rotate"
                         from="0 25 25"
                         to="360 25 25"
                         dur="0.6s"
                         repeatCount="indefinite"/>
                       </path>
  
  
                     </svg>
                  </div>
                   
                </div>
      <div class="btn btn-danger">
        <!-- <button mat-button matStepperPrevious>Back</button> -->
      
      </div>
      </form>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>