<div class="user-layout" *ngIf="survey.display_type.ui != 'Multiple'">
    
    <nav *ngIf="survey.showHeader"  class="navbar navbar-toggleable-md fixed-top x-new" [ngStyle]="{'background-color':survey.selectedTheme.h_bg_color }">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
            
          <div class="col-md-4">
             
              <img *ngIf="survey.logo || survey.logoSrc" height="100" [src]="survey.logoSrc || (config.siteUrl + '/company/logo/'+ survey.logo)" >
               <!-- <a *ngIf="!survey.logo" class="navbar-brand" href="#"><h2 [ngStyle]="{'font-size':survey.selectedTheme.h_font_size, 'font-family':survey.selectedTheme.h_font_family}">logo</h2></a> -->
          </div>
          <div class="col-md-8">
              <h1 class="srvey-hd" [ngStyle]="{'font-size':survey.selectedTheme.h_font_size, 'font-family':survey.selectedTheme.h_font_family, 'color':survey.selectedTheme.h_font_color}" [ngClass]="{ 'itlc' : survey.selectedTheme.h_font_italic, 'bld': survey.selectedTheme.h_font_bold}">{{survey.header}}</h1>
             
              
          </div>
        </div>
      </div>
    </nav>
   
    <div class="container">
        <div class="col-md-12 questn-container">
            <button type="submit"  class="btn btn-danger pull-right lg-out" >Logout</button>
            <button type="submit" (click)="backTosurvey()" class="btn btn-danger pull-right lg-out" >Back To Survey</button>
            <div class="col-md-12">
                <app-count-down-timer  class="pull-right" [inputDate]="survey.end_date" [addClass]="'timer-survey'"></app-count-down-timer>             
                
            </div>
            <div class="col-md-12">
                    <div class="col-md-12" *ngFor="let item of survey.questions; let i=index">
                        <p [ngStyle]="{'font-size': theme.q_font_size, 'font-family':theme.q_font_family, 'color':theme.q_font_color}" [ngClass]="{ 'itlc' : theme.q_font_italic, 'bld': theme.q_font_bold}">{{i+1}}. {{item.question}}</p>
                        <div *ngIf="item.answerType == 'Multiple choice'; else star">
                            <mat-radio-group class="example-radio-group" [(ngModel)]="survey.questions[i].ans" name="{{item._id}}">
                                <mat-radio-button class="example-radio-button" *ngFor="let choice of item.opts" [value]="choice" [required]="survey.display_type.skip == false" >
                                  <span [ngStyle]="{'font-size': theme.q_font_size, 'font-family':theme.q_font_family, 'color':theme.q_font_color}" [ngClass]="{ 'itlc' : theme.q_font_italic, 'bld': theme.q_font_bold}">{{choice}}</span>
                                </mat-radio-button>
                              </mat-radio-group>
                        </div>


                        <ng-template #star >
                            <div class="star-container star-rating" *ngIf="item.answerType === 'star rating'; else text">
                                <!-- <fieldset>
                                  <input type="radio" id="{{'star'+x+1}}" *ngFor="let choice of item.options; let x=index;" name="rating" value="{{x+1}}" /><label *ngFor="let choice of item.options; let i=index;" for="{{'star'+i+1}}" title="{{choice}}">5 stars</label> -->
                                  <div class="rating">
                                    <!-- <ng-container *ngFor="let choice of item.options | reverse; let x=index;"> -->
                                        <!-- <star-rating-comp [starType]="'svg'" [hoverEnabled]="true"
                                        [showHalfStars]="false" [labelText]="'My text!'"></star-rating-comp> -->
                                        <rating [(ngModel)]="survey.questions[i].ans" [titles]="item.starOpts" name="answer" [max]="item.starOpts.length"></rating>
                                    <!-- </ng-container> -->
                                      <!-- <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                      <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                      <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                      <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label> -->
                                  </div>
                                <!-- </fieldset> -->
                              </div>
                        </ng-template>


                        <ng-template #text >
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Answer" [(ngModel)]="survey.questions[i].ans" name="txt" [required]="survey.display_type.skip == false"></textarea>
                              </mat-form-field>
                        </ng-template>
                      </div>
                      <button type="submit" (click)="submitAns()" class="btn btn-danger ourbutton" >Submit</button> 
                      
            </div>
            
            
          </div>   
    </div>
         
    <footer *ngIf="survey.showFooter"  [ngStyle]="{'background-color':survey.selectedTheme.f_bg_color}">
      <p [ngStyle]="{'font-size':survey.selectedTheme.f_font_size, 'font-family':survey.selectedTheme.f_font_family,'color':survey.selectedTheme.f_font_color}">{{survey.footer}}</p>
    </footer>
              
  </div>





  <!-- multiple page preview -->




<div class="user-layout" *ngIf="survey.display_type.ui == 'Multiple'"  >
    <nav *ngIf="survey.showHeader"  class="navbar navbar-toggleable-md fixed-top x-new" [ngStyle]="{'background-color':survey.selectedTheme.h_bg_color }">
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
              
            <div class="col-md-4">
               
                <img *ngIf="survey.logo || survey.logoSrc" height="100" [src]="survey.logoSrc || (config.siteUrl + '/company/logo/'+ survey.logo)" >
                 <a *ngIf="!survey.logo" class="navbar-brand" href="#"><h2 [ngStyle]="{'font-size':survey.selectedTheme.h_font_size, 'font-family':survey.selectedTheme.h_font_family}">logo</h2></a>
            </div>
            <div class="col-md-8">
                <h1 class="srvey-hd" [ngStyle]="{'font-size':survey.selectedTheme.h_font_size, 'font-family':survey.selectedTheme.h_font_family, 'color':survey.selectedTheme.h_font_color}" [ngClass]="{ 'itlc' : survey.selectedTheme.h_font_italic, 'bld': survey.selectedTheme.h_font_bold}">{{survey.header}}</h1>
               
                
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="col-md-12 questn-container">
            <button type="submit" (click)="backTosurvey()" class="btn btn-danger pull-right lg-out" >Back To Survey</button>
            <button type="submit" (click)="logout()" class="btn btn-danger pull-right lg-out" >Logout</button>
            <div class="col-md-12">
                <app-count-down-timer  class="pull-right" [inputDate]="survey.end_date" [addClass]="'timer-survey'"></app-count-down-timer>             
                
            </div>
            <div class="col-md-12">
                <h4 *ngIf="blankAns" [ngStyle]="{'color':'#d9534f'}">Fill all answers</h4>
                    <div class="col-md-12" *ngFor="let item of survey.questions; let i=index;">
                      <div *ngIf="cardNo == i">
                          <p [ngStyle]="{'font-size': theme.q_font_size, 'font-family':theme.q_font_family, 'color':theme.q_font_color}" [ngClass]="{ 'itlc' : theme.q_font_italic, 'bld': theme.q_font_bold}">{{i+1}}. {{item.question}}</p>
                          <div *ngIf="item.answerType == 'Multiple choice'; else star">
                              <mat-radio-group class="example-radio-group" [(ngModel)]="survey.questions[i].ans" name="{{item._id}}">
                                  <mat-radio-button class="example-radio-button" *ngFor="let choice of item.opts" [value]="choice" [required]="survey.display_type.skip == false" >
                                    <span [ngStyle]="{'font-size': theme.q_font_size, 'font-family':theme.q_font_family, 'color':theme.q_font_color}" [ngClass]="{ 'itlc' : theme.q_font_italic, 'bld': theme.q_font_bold}">{{choice}}</span>
                                  </mat-radio-button>
                                </mat-radio-group>
                          </div>
                          <div class="col-md-12">
                              <div class="col-md-6 progrs ">
                                  <h5 *ngIf="survey.display_type.pageno == true" [ngStyle]="{'color': theme.progress_text_color}">Page No. {{cardNo+1}} of {{survey.questions.length}}</h5>
                                  <div class="progress" >
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                      aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressBarWidth" [ngStyle]="{'background-color': theme.progress_bar_color}">
                                      </div>
                                    </div> 
                              </div>
                              <div class="col-md-6 progrs">
                                  <button *ngIf="cardNo > 0" type="submit" (click)="back(cardNo)" class="btn btn-danger ourbutton btn-mrgn" >Back</button> 
                                  
                                  <button *ngIf="cardNo < survey.questions.length-1" type="button" (click)="next(cardNo)" class="btn btn-danger ourbutton btn-mrgn" >Next</button> 
                                  <button type="button" *ngIf="survey.display_type.skip&&cardNo < survey.questions.length-1" (click)="skipQuestion()" class="btn btn-danger ourbutton btn-mrgn" >Skip</button> </div>
                              </div>
                            
                        
                        
                      </div>
                       
                      

                        <ng-template #star >
                            <div *ngIf="cardNo == i">
                            <div class="star-container star-rating" *ngIf="item.answerType === 'star rating'; else text">
                                <!-- <fieldset>
                                  <input type="radio" id="{{'star'+x+1}}" *ngFor="let choice of item.options; let x=index;" name="rating" value="{{x+1}}" /><label *ngFor="let choice of item.options; let i=index;" for="{{'star'+i+1}}" title="{{choice}}">5 stars</label> -->
                                  <div class="rating">
                                    <!-- <ng-container *ngFor="let choice of item.options ; let x=index;"> -->
                                      <!-- <input [(ngModel)]="survey.questions[i].ans"  type="radio" id="star{{5-x}}" name="rating" value="{{choice}}" [required]="survey.display_type.skip == false"  /><label  for="star{{5-x}}" title="{{choice}}"></label> [required]="survey.display_type.skip == false" -->
                                      <rating [(ngModel)]="survey.questions[i].ans" [titles]="item.starOpts" name="answer" [max]="item.starOpts.length" ></rating>
                                      
                                    <!-- </ng-container> -->
                        
                                      <!-- <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                      <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                      <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                      <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label> -->
                                  </div>
                                <!-- </fieldset> -->
                        
                              </div>
                              
                              </div>
                        </ng-template>


                        <ng-template #text >
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Answer" [(ngModel)]="survey.questions[i].ans" name="txt" [required]="survey.display_type.skip == false"></textarea>
                              </mat-form-field>
                        
                        </ng-template>
                        
                      </div>
                      
                      <button *ngIf="cardNo == questionCount-1" type="submit" (click)="submitAns()" class="btn btn-danger ourbutton mrgn-50" >Submit</button> 
                      
            </div>
            
            
          </div>   
    </div>
         
    <footer *ngIf="survey.showFooter"  [ngStyle]="{'background-color':survey.selectedTheme.f_bg_color}">
        <p [ngStyle]="{'font-size':survey.selectedTheme.f_font_size, 'font-family':survey.selectedTheme.f_font_family,'color':survey.selectedTheme.f_font_color}">{{survey.footer}}</p>
      </footer>
              
  </div>



  