.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 88%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .example-tooltip-host {
    display: inline-flex;
    align-items: center;
    margin: 50px;
  }
  
  .example-select {
    margin: 0 10px;
  }
  .filter{
    /* width: 5%; */
    /* float: right;
    clear: left; */
    /* padding-bottom: 25px; */
    margin-top: 10px;
   
  }
  h4{
    text-align: center;
}
