.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .example-tooltip-host {
    display: inline-flex;
    align-items: center;
    margin: 50px;
  }
  
  .example-select {
    margin: 0 10px;
  }
  .filter{
    width: 5%;
    float: right;
    clear: left;
  }
  h4{
    text-align: center;
}
.noItemFound{
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;

}
.back-color{
  color: #757575;
  background-color: #ffffff;
}
svg path,
svg rect{
  fill: #EC0C0C;
}